body {
	text-align: center;
	margin: 0;
}

h1, h2, a {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2, a {
	font-weight: 600px;
}

h2, p {
	font-size: 18px;
}

h1 {
	font-weight: 400;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 45px;
}

h2 {
	color: #F15B31;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
}

a {
	margin: 0 20px;
	color: white;
	text-decoration: none;
}

a:hover {
/* Your styles here */
}

img {
	margin: 40px 8px 0;
}

header {
	background: #F15B31;
	color: white;
	padding: 30px 20px;
}

nav {
	background: #00A6B3;
	color: white;
	padding: 20px 0;
}

main {
	width: 850px;
	margin: 35px auto;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.message, 
.copyright {
	font-family: "Raleway";
}


.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
	border-bottom: 2px solid transparent;
}